.profile {
  background-color: var(--secondary-color);
  display: flex;
  padding: 3rem;
  flex-direction: row;
}

.profilePic {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 100%;
  float: left;
  margin: 0.5rem;
  filter: grayscale(100);
}

.profilePic:hover {
  filter: none;
  transition: 400ms;
}

.profileText {
  width: 50%;
  margin-right: 2rem;
}

.xpText {
  width: 60%;
  margin-left: 2rem;
}

hr {
  border: none;
  border-left: 1px solid var(--default-color);
  height: auto;
  width: 1px;
}

@media only screen and (max-width: 768px) {
  hr {
    display: none;
  }
  .profile {
    flex-direction: column;
    padding: 2rem;
  }
  .profileText {
    width: 100%;
    margin: 0;
  }
  .xpText {
    width: 100%;
    margin: 0;
  }
  .profileText p,
  .xpText p {
    font-size: 1.6rem;
  }
  .profilePic {
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 425px) {
  .profile {
    padding: 1rem;
  }
  .profileText p,
  .xpText p {
    font-size: 1.3rem;
  }
  .profilePic {
    border-radius: 0;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 375px) {
  .profile {
    width: 100%;
  }
}